*{
  padding: 0;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

/* a{
  text-align: center;
} */

.arrowUp{
  height: 4rem;
  width: 4rem;
  background-color: #FFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.286);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: fixed;
  bottom: 47px;
  right: 30px;
  z-index: 9999;
}

.arrowUp img{
  height: auto;
  width: 2.8rem;
  margin: 0;
}
.arrowUp a{
 text-align: center;
}
